@model WareHouseVm

@{
    ViewData["Title"] = "Details";
    int Id = 1;
    warehouseProductForWarehouseDetailsVm warehouseProductDetails = ViewBag.warehouseProduct as warehouseProductForWarehouseDetailsVm;
}
<style>
    td {
        color: black;
        font-weight: bold;
    }

    .cardCustom {
        direction: rtl;
        text-align: right;
    }
</style>

<div class="card card-custom cardCustom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                تفاصيل  العنصر
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <td>الاسم</td>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <td>العنوان</td>
                            <td>@Html.DisplayFor(model => model.Address)</td>
                        </tr>
                        <tr>
                            <td>خط الطول</td>
                            <td>@Html.DisplayFor(model => model.Latitude)</td>
                        </tr>

                        <tr>
                            <td>خط العرض</td>
                            <td>@Html.DisplayFor(model => model.Longtude)</td>
                        </tr>
                        <tr>
                            <td>رقم التواصل</td>
                            <td>@Html.DisplayFor(model => model.Phone)</td>
                        </tr>
                        <tr>
                            <td>المدينة</td>
                            <td>@Html.DisplayFor(model => model.CityName)</td>
                        </tr>
                        <tr>
                            <td>مدير المخزن</td>
                            <td>@Html.DisplayFor(model => model.UserName)</td>
                        </tr>
                        <tr>
                            <td>تم تسجيله بواسطة</td>
                            <td>@Html.DisplayFor(model => model.CreateBy)</td>
                        </tr>
                        <tr>
                            <td>تم تعديل البيانات بواسطة</td>
                            <td>@Html.DisplayFor(model => model.UpdateBy)</td>
                        </tr>
                        <tr>
                            <td>تاريخ التسجيل</td>
                            <td>@Html.DisplayFor(model => model.CreateAt)</td>
                        </tr>
                        <tr>
                            <td>تاريخ التعديل</td>
                            <td>@Html.DisplayFor(model => model.UpdateAt)</td>
                        </tr>
                    </table>
                </div>
                @if (ViewBag.warehouseProduct != null)
                {
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="2">اسم المخزن</td>
                                <td colspan="3">@warehouseProductDetails.Name</td>
                            </tr>
                            <tr>
                                <td colspan="2">تواجد المخزن</td>
                                <td colspan="3">@warehouseProductDetails.City</td>
                            </tr>
                            <tr>
                                <td colspan="2">عنوان المخزن</td>
                                <td colspan="3">@warehouseProductDetails.Address</td>
                            </tr>
                            @{
                                <tr>
                                    <th>#</th>
                                    <th>اسم المنتج</th>
                                    <th>الكمية</th>
                                    <th>اللون</th>
                                    <th>المقاس</th>
                                </tr>
                                foreach (var item in warehouseProductDetails.productDetails)
                                {

                                    <tr>
                                        <td>@Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Color</td>
                                        <td>@item.Size</td>
                                    </tr>
                                    Id++;
                                }
                            }
                        </table>
                    </div>
                }

            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">تعديل</a>
            <a asp-action="Index" class="btn btn-danger">رجوع</a>
        </div>
    </div>
</div>

