@model ProductVm

@{
    ViewData["Title"] = "Details";
    int Id = 1;
    WarehouseProductDetailsVm warehouseProductDetails = ViewBag.warehouseProduct as WarehouseProductDetailsVm;
}
<style>
    td {
        color: black;
        font-weight: bold;
    }

    .cardCustom {
        direction: rtl;
        text-align: right;
    }
</style>

<div class="card card-custom cardCustom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                عرض جميع البيانات
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered">
                        <tr>
                            <td>الاسم</td>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <td>التفاصيل</td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <td>سعر الشراء</td>
                            <td>@Html.DisplayFor(model => model.PriceBuy)</td>
                        </tr>
                        <tr>
                            <td>سعر البيع</td>
                            <td>@Html.DisplayFor(model => model.PriceSale)</td>
                        </tr>
                        <tr>
                            <td>الخصم %</td>
                            <td>@Html.DisplayFor(model => model.Discount)</td>
                        </tr>
                        <tr>
                            <td>السعر بعد الخصم</td>
                            <td>@Html.DisplayFor(model => model.PriceAfterDiscount)</td>
                        </tr>
                        <tr>
                            <td>التصنيف</td>
                            <td>@Html.DisplayFor(model => model.SubCategoryName)</td>
                        </tr>
                        <tr>
                            <td>الماركة</td>
                            <td>@Html.DisplayFor(model => model.BrandName)</td>
                        </tr>
                        <tr>
                            <td>الموردين</td>
                            <td>@Html.DisplayFor(model => model.SupplierName)</td>
                        </tr>
                        <tr>
                            <td>كود المنتح</td>
                            <td>@Html.DisplayFor(model => model.Code)</td>
                        </tr>
                        <tr>
                            <td>التقييم</td>
                            <td>@Html.DisplayFor(model => model.Evaluation)</td>
                        </tr>
                        <tr>
                            <td>هل المنتج متوفر</td>
                            @if (Model.IsAvalable == true)
                            {
                                <td style="background-color: green; color: white">متوفر</td>

                            }
                            else
                            {
                                <td style="background-color: red; color: white">غير متوفر</td>
                            }
                        </tr>
                        <tr>
                            <td>تم تسجيله بواسطة</td>
                            <td>@Html.DisplayFor(model => model.CreateBy)</td>
                        </tr>
                        <tr>
                            <td>تم تعديل البيانات بواسطة</td>
                            <td>@Html.DisplayFor(model => model.UpdateBy)</td>
                        </tr>
                        <tr>
                            <td>تاريخ التسجيل</td>
                            <td>@Html.DisplayFor(model => model.CreateAt)</td>
                        </tr>
                        <tr>
                            <td>تاريخ التعديل</td>
                            <td>@Html.DisplayFor(model => model.UpdateAt)</td>
                        </tr>
                    </table>
                </div>
                @if (ViewBag.warehouseProduct != null)
                {
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="2" >اسم المنتج</td>
                                <td colspan="3" style="text-align: center">@warehouseProductDetails.Name</td>
                            </tr>
                            <tr>
                                <td colspan="2">إجمالي الكمية</td>
                                <td colspan="3" style="text-align: center">@string.Format("{0:#,0}", warehouseProductDetails.TotalQuantity)</td>
                            </tr>
                            @{
                                <tr>
                                    <th>#</th>
                                    <th>المخزن</th>
                                    <th>اللون</th>
                                    <th>المقاس</th>
                                    <th>الكمية</th>
                                </tr>
                                foreach (var item in warehouseProductDetails.wareHousesVm)
                                {

                                    <tr>
                                        <td>@Id</td>
                                        <td>@item.WarehouseName</td>
                                        <td>@item.Color</td>
                                        <td>@item.Size</td>
                                        <td>@item.Quantity</td>
                                    </tr>
                                    Id++;
                                }
                            }
                        </table>
                    </div>
                }

            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">تعديل</a>
            <a asp-action="Index" class="btn btn-danger">رجوع</a>
        </div>
    </div>
</div>


